# ide & editor
.vscode/*

# mod
game/mod/*
!game/mod/模组安装说明（必读）.txt

# temp
game/engine.log
game/userdata/*
game/plugins/plugins.json
tools/外部设置工具/config.json
tools/fonted/fonted.log

# luajit debug
game/dump.txt

build/*

engine/luastg
engine/luastg/*
engine/build/*

LuaSTG*.zip
cache.zip

project/*
